.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper > div {
  animation: move 300ms;
}

@keyframes move {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0%);
  }
}