.todo {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo > * {
  margin: 0 0.5rem;
}

.text {
  width: 100%;
}

.done {
  background-color: rgb(0, 200, 83, 0.2);
}

.done .text {
  text-decoration: line-through;
  opacity: 0.8;
}