.dialog {
  width: 60%;
  background-color: #F6F6F6;
  border-radius: 0.75rem;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(212, 212, 212, 0.35);
}

.title {
  width: 100%;
  padding: 0 0.75rem;
  margin: 0;
}

.close_button {
  margin: 0.25rem;
}

.content {
  width: 70%;
  margin: 0.75rem auto;
}

.content > * {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.1rem;
  border-top: 1px solid #d4d4d4;
}
